body {
    font-family: Arial, sans-serif;
    padding: 20px;
}


        th{
            text-align: center;
    padding-top: 25px;
    color: #48c1bd;
    text-transform: capitalize;
    font-size: 20px;}

        td{
            letter-spacing: 0px;
    font-size: 9rem;
    text-align: center;
    color: #ccc;}
